# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.zip

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Virtual environments
venv/
env/
ENV/
.env/
.env*/

# Pyenv
.python-version

# IDE settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
